<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

        <div class="text-center">
          <h4 class="brand">ISSUE TRACKING SYSTEM</h4>
          <img src="images/flat-avatar.png" class="user-avatar" /><br />
          <h5>Username: {{loginUser.username}}</h5>
          <h5>Role: {{loginUser.role}}</h5>
          <a ui-sref="login" class="btn btn-white btn-outline btn-sm">Logout</a>
        </div>

        <ul class="nav nav-sidebar">
          <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Dashboard <span class="sr-only">(current)</span></a></li>
          <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Tickets</a></li>
        </ul>

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
      </div>
    </div>
  </div>
</div>